body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Merriweather', cursive;
    font-size: 5.3rem;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2.2;
}

hr {
    border: double 10px;
    border-color: #135353;
    border-bottom: none;
    width: 4%;
    margin: 67px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100.5px;
}

.middle-container {
    margin: 70px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 51%;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    text-align: left;
}

.computer-img {
    float: right;
    margin-left: 30px;
    width: 20px;
}

.idea-img {
    float: right;
    margin-left: 30px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.80rem;
    padding: 20px 0;
}

.topheader {
    position: absolute;
    right: 300px;
    top: 40px;
}

.botttomheader {
    position: absolute;
    bottom: 300px;
    left: 250px;
}

.contact-me {
    width: 41%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    border-radius:8px;
    color: #ffffff;
    font-family: 'Montserrat' sans-serif;
    font-size: 18px;
    font-weight: 200;
    padding: 12px;
    text-shadow: 1px 1px 21px #000000;
    border: 0 #337FED solid;
    text-decoration: none;
    display:inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #337FED 1px;
    background: #30E3CD;
    background-image: -webkit-linear-gradient(top, #30E3CD, #2BC4AD);
    background-image: -moz-repeating-linear-gradient(top, #30E3CD, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CD, #2BC4AD);
    border-radius: 20px;
    text-decoration: none;
}

